/* Start of CSS Document */



/*------------------------ Beginning of General Styling Rules ----------------------------------------*/

/* Top Navigation Bar Styling */

/* Code for an unselected navigation panel */
.topnav a {
    color: #f2f2f2;
    text-align: right;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 2vw;
    background-color: rgb(134, 173, 224);
    font-family: Helvetica;
}

/* Code for when the mouse hover over an unselected navigation panel */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Code for the button of the current page */
.topnav a.active{
    background-color: steelblue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
/* Navigation Bar styling based on (but edited) from the original template from https://www.w3schools.com/howto/howto_js_topnav.asp */



/* Body Styling */

/* Code for the entire body of the webpage */
body {
    background-color:aliceblue;
    font-family: Helvetica;
    text-align: left;
    font-size: 1.5vw;
}



/* Header 1 Styling */

/* Code for the largest header(s) of the webpage */
h1 {
    text-align: center;
    font-size: 4vw;
    font-family: Courier;
}



/* Header 2 Styling */

/* Code for the second largest header(s) of the webpage */
h2{
    text-align: center;
    font-size: 2.5vw;
    text-decoration: underline;
}



/* Ordered List Styling */

/* Code for numbered list(s) of the webpage */
ol{
    font-size: 1.5vw;
}

/*------------------------ End of General Styling Rules ----------------------------------------*/




/*------------------------ Beginning of Home Page Styling Rules ----------------------------------------*/

/* Home Page Picture Styling */

/* Shared code for the home page picture and caption */
.andrew-pic-figure{
    display: block;
    max-width: 30vw;
    float: right;
    margin: 4vw;
}

/* Code for the home page picture itself*/
#andrew-pic{
    border-style: dotted;
    max-width: 30vw;
    border-color: gray;
}

/* Code for the home page picture caption*/
#andrew-pic-description{
    text-align: left;
    font-size: 1.5vw;
    display: block;
}

/* Home Page Title Styling */

/* Code for the home page title animation */
@keyframes home-page-title-animation{
    from{
        font-size: 0vw;
    }
    to{
        font-size: 4vw;
    }
}

/* Code to implement the home page animation*/
#home-page-title{
    animation: home-page-title-animation 3s forwards;
}

/* Home Page body Styling */

.body-margin{
    margin: 4vw;
}

/*------------------------ End of Home Page Styling Rules ----------------------------------------*/



/*------------------------ Beginning of Project 1 Page Styling Rules ----------------------------------------*/

/* Project 1 Heading Styling*/


/*------------------------ End of Project 1 Page Styling Rules ----------------------------------------*/



/* End of CSS Document */