/* Start of CSS Document */



/*------------------------ Beginning of General Styling Rules ----------------------------------------*/

/* Top Navigation Bar Styling */

/* Code for an unselected navigation panel */
.topnav{
    /* Flex Properties */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2vh;
    gap: 1vw;
    margin-bottom: 1vh;
}

.topnav a {
    color: #f2f2f2;
    text-align: right;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 2vw;
    padding: 2vw;
    border-radius: 0.5rem;
    background-color: rgb(134, 173, 224);
    font-family: Helvetica;
}

/* Code for when the mouse hover over an unselected navigation panel */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Code for the button of the current page */
#active{
    background-color: steelblue;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
/* Navigation Bar styling based on (but edited) from the original template from https://www.w3schools.com/howto/howto_js_topnav.asp */



/* Body Styling */

/* Code for the entire body of the webpage */
body {
    background-color:aliceblue;
    text-align: left;
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
}



/* Header 1 Styling */

/* Code for the largest header(s) of the webpage */
h1 {
    text-align: center;
    font-size: 4vw;
    font-family: "Goldman", sans-serif;
    background-color: steelblue;
    color: white;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}



/* Header 2 Styling */

/* Code for the second largest header(s) of the webpage */
h2{
    text-align: center;
    font-size: 2.5vw;
    text-decoration: underline;
}



/* Ordered List Styling */

/* Code for numbered list(s) of the webpage */
ol{
    font-size: 1.5vw;
}

/* Paragraph Styling */

/* code for the paragraphs of the webpage */
p{
    margin: 3vw;
}

/*------------------------ End of General Styling Rules ----------------------------------------*/




/*------------------------ Beginning of Home Page Styling Rules ----------------------------------------*/

/* Home Page Picture Styling */

/* Shared code for the home page picture and caption */
.andrew_pic_figure{
    display: block;
    max-width: 30vw;
    float: right;
    margin: 4vw;
}

/* Code for the home page picture itself*/
#andrew_pic{
    border-style: dotted;
    max-width: 30vw;
    border-color: gray;
}

/* Code for the home page picture caption*/
#andrew_pic_description{
    text-align: left;
    font-size: 1.5vw;
    display: block;
}

/* Home Page Title Styling */

/* Code for the home page title animation */
@keyframes home-page-title-animation{
    from{
        font-size: 0vw;
    }
    to{
        font-size: 4vw;
    }
}

/* Code to implement the home page animation*/
#home_page_title{
    animation: home-page-title-animation 3s forwards;
}

/*------------------------ End of Home Page Styling Rules ----------------------------------------*/



/*------------------------ Beginning of Project 1 Page Styling Rules ----------------------------------------*/

/* Project 1 Heading Styling*/

#project1_title{
    font-size: 0vw;
}

#start{
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 2vw;
    padding: 2vw;
    border-radius: 0.5rem;
    background-color: rgb(134, 173, 224);
    font-family: "Roboto", sans-serif;
}

#start_parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display:flex;
    align-items:center;
    justify-content:center;
}

#container div{
    height:10vw;
    width:10vw;
    border: 1px solid black;
    position:relative;
    background-color: white;
}

#start
{
    margin: 2vw;
    padding: 2vw;
    font-size: 2vw;
    font-family: creepster, sans-serif;
}

/*------------------------ End of Project 1 Page Styling Rules ----------------------------------------*/



/* End of CSS Document */